# Database
DB_HOST=localhost
DB_NAME=spinbike_db
DB_USER=root
DB_PASS=

# Cloudinary
CLD_CLOUD_NAME=
CLD_UPLOAD_PRESET=

# VNPAY Sandbox
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_DEFAULT_BANK_CODE=VNPAYQR
